<!-- 
    KnowNow Placeholder GUI: Home Page
    Author: Joshua Costa
    Date: 8/13/19
-->

{% extends "layout.html" %}
{% block content %}

<div class="mainContainer">
    <h1>KnowNow</h1>
    <form action="form" method="GET" id=queryField>
        <select name="query" class="tagDropdown">
            <option value="treatments">Treatments</option>
            <option value="side-effects">Side Effects</option>
        </select>
    </form>
    <button type="submit" form="queryField" value="submit" id="submitButton">Know Now!</button>
</div>


{% endblock content %}