<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>KnowKnow</title>
</head>
<body>
<img src="{{url_for('static', filename='knownowimg.JPG')}}" width="532" height="144" />

<div>
<center> What do you want to learn about other patients? </center>
</div>

<center>
<form action="http://127.0.0.1:5000/form" id="search_form" name="search_form" method="get">
<select name="query">
    {% for text, value in pair %}
        <option value="{{ value }}" > {{ text }} </option>
    {% endfor %}
</select>
<input type="submit" name="search_button" id="search_button" value="Enter" onclick=""/>
</form>
</center>
</body>
</html>
