<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom position for info side, main info, and ad positions -->
    <style type="text/css">
	#tabing {
		padding-right: 5px;
	}
    #info {
	position: absolute;
	left: 27px;
	top: 264px;
	width: 296px;
	height: 439px;
	z-index: 1;
}
    #results {
	position: absolute;
	left: 338px;
	top: 265px;
	width: 790px;
	height: 0px;
	z-index: 2;
}
    #ad1 {
	position: absolute;
	left: 1156px;
	top: 269px;
	z-index: 3;
}
    #ad2 {
	position: absolute;
	left: 1157px;
	top: 549px;
	z-index: 4;
}
    #ad3 {
	position: absolute;
	left: 1156px;
	top: 671px;
	z-index: 5;
}
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>KnowKnow</title>
</head>

<!-- all information is posted here -->
<body>

<!-- the info 'bar?' on the left side goes here -->
<div id="info">
<div>Tell us about your cancer <br />so we can refine our results.</div>
<br />
<div>Stage:</div>
<br  />
<div>Histology:</div>
<br  />
<div>Previous treatment:</div>
</div>



<!-- this is the results page. All important information to display goes here. -->
<div id="results">
    <!-- topic -->
    <!-- date -->
    <!-- query	-->
    <!-- profile -->
    <!-- cohort -->
    <!-- category -->
    <!-- secondary -->
    <!-- insight -->
    <!-- volunteer -->
    <!-- url -->
    <!-- comments -->
    <!-- professor_comments -->
    {% for post in posts %}
      <div class="results">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <!-- <a href="{{ url_for('home', filename=post.path) }}"> for files -->
        <a href="{{ post.url }}">
        <h3> {{ post.topic }} </h3>
          <div> {{ post.url }} </div>
          </a>
          	<div>
              <span>
                  <b>{{ post.volunteers }}</b>
              <br>
            	{{ post.insight }}
                  <br>
                  <i>{{ post.cohort }}</i>
              </span>
        	</div>
      </div>
    {% endfor %}
<br>

</div>

<!-- these are the images for the webpage -->
<img id="ad1" src="{{url_for('static', filename='ad1.JPG')}}" width="400" height="252" />
<img id="ad2" src="{{url_for('static', filename='ad2.JPG')}}" width="400" height="250" />
<img id="ad3" src="{{url_for('static', filename='ad3.JPG')}}" width="400" height="250" />
<img src="{{url_for('static', filename='knownowimg.JPG')}}" width="532" height="144" />
<strong><font size="+5">Breast Cancer</font></strong>


<!-- this is the form which triggers the selection process -->
<form action="http://127.0.0.1:5000/form" method="get" id="search_form" name="search_form">
    <label id="tabing"> Side effects : Heart disease </label>

    <!-- name must be 'query' if anyone decides to change it, it must be changed in FlaskDriver as well. -->
    <select name="query">
	    <option value="84 yr old Mom, Stage 2, Lymph node, CHEMO normal?" >
            84 yr old Mom, Stage 2, Lymph node, CHEMO normal? </option>
        <option value="Confused as why everyone seems to have surgery first" >
            Confused as why everyone seems to have surgery first </option>
        <option value="Chemotherapy for my Mom at Stage II-B, how to ease the pain?" >
            Chemotherapy for my Mom at Stage II-B, how to ease the pain? </option>
    </select>
    <input type="submit" name="search_button" id="search_button" value="Enter" onclick=""/> </form>


<!-- these are the containers of where to place the boundaries of the website. found in style tag in header tag -->
</div>
    <div id="results"></div>
    <div id="ad1"></div>
    <div id="ad2"></div>
    <div id="ad3"></div>
</div>

</body>
</html>
